aiobotocore
aiofiles
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
altair==4.2.0
anyio
appdirs==1.4.4
applaunchservices
appnope
appscript
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
async-lru==2.0.4
async-timeout
atomicwrites==1.4.0
attrs==24.2.0
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker==1.8.2
bokeh
boltons
botocore
Bottleneck
brotlipy==0.7.0
cachetools==5.5.0
captcha==0.6.0
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
colorcet
comm
constantly==15.1.0
contourpy
cookiecutter
cryptography
cssselect==1.1.0
cycler
cython
cytoolz
dask
datasets
datashader
datashape==0.5.2
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
docopt==0.6.2
docstring-to-markdown
docutils
entrypoints
et-xmlfile==1.1.0
executing
extra-streamlit-components==0.1.71
Faker==30.3.0
fastjsonschema
favicon==0.7.0
filelock
flake8
Flask
fonttools==4.25.0
fqdn==1.5.1
frozenlist
fsspec
future
gensim
gitdb==4.0.11
GitPython==3.1.43
glob2
gmpy2
greenlet
h11==0.14.0
h5py
HeapDict
holoviews
htbuilder==0.6.2
httpcore==1.0.6
httpx==0.27.2
huggingface-hub
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython==8.12.3
ipython-genutils
ipywidgets
isoduration==20.11.0
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server==2.14.2
jupyter_server_fileid
jupyter_server_terminals==0.5.3
jupyter_server_ydoc
jupyterlab==4.2.5
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server==2.27.3
kaleido
keyring
kiwisolver
lazy-object-proxy
lazy_loader
libarchive-c
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown==3.7
markdown-it-py
markdownlit==0.0.7
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mistune==3.0.2
more-itertools
mpmath
msgpack
multidict
multipledispatch
multiprocess
munkres==1.1.4
mypy-extensions
narwhals==1.5.5
nbclassic
nbclient
nbconvert==7.16.4
nbformat
nest-asyncio
networkx
nltk
notebook==7.2.2
notebook_shim
numba
numexpr
numpy
numpydoc
openpyxl==3.0.10
overrides==7.7.0
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
pathlib
pathspec
patsy==0.5.3
pep8==1.7.1
pexpect
pickleshare
Pillow
pipreqs==0.5.0
pkce
pkginfo
platformdirs
plotly
pluggy
ply==3.11
poyo
prometheus-client
prompt-toolkit
Protego
protobuf==5.27.3
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow==11.0.0
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydeck==0.9.1
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
pymdown-extensions==10.11.2
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreServices
pyobjc-framework-FSEvents
pyodbc
pyOpenSSL
pyparsing
PyQt5-sip==12.11.0
pyrsistent
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz
pyviz-comms
PyWavelets
PyYAML
pyzmq==26.2.0
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib==1.5.0
referencing==0.35.1
regex
requests
requests-file
requests-toolbelt
responses
rfc3339-validator
rfc3986-validator
rich==13.8.0
rope
rpds-py==0.20.0
Rtree
ruamel.yaml
s3fs
safetensors
scikit-image
scikit-learn
scipy
Scrapy
seaborn
Send2Trash==1.8.3
service-identity
sip
six
smart-open
smmap==5.0.1
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
st-annotated-text==4.0.1
st-theme==1.2.3
stack-data
statsmodels
streamlit==1.39.0
streamlit-authenticator==0.3.3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.4.7
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.4
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
sympy
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers
toml
tomlkit
toolz
tornado
tqdm
traitlets
transformers
Twisted
typing_extensions==4.12.2
tzdata
uc-micro-py
ujson
Unidecode
uri-template==1.3.0
urllib3
validators==0.34.0
w3lib
watchdog
wcwidth
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug
whatthepatch
widgetsnbextension
wrapt
wurlitzer
xarray
xgboost==2.1.1
xlwings
xxhash
xyzservices
y-py
yapf
yarg==0.1.9
yarl
ypy-websocket
zict
zipp
zope.interface
zstandard
